*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
a,a::before,a::after{
    text-decoration: none;
    color: unset;
}
a:hover  {
    color: blue;
}
a:active{
    color: blue;
}
nav{
    padding: 10px 24px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #000; */
    align-items: center;
}
ul{
 
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 20px 20px;
}
li{
    list-style: none;
}

button{
    padding: 10px 24px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
}
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
} */
button:hover{
    opacity: 50%;
}
div{
    font-size: 35px;
    font-weight: 600;
}
main{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 50px 50px;
}
h1{
    max-width: 1200px;
    justify-self: center;
    align-items: center;
    padding: 10px 24px;
    color: rgb(17, 10, 98);
    font-size: 65px;
    text-align: center;
}
p{
    max-width: 1200px;
    font-weight: bold;
    font-size: 18px;
    color: gray;
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
}
img{
    width: 100%;
    max-width: 1200px;
    border-radius:20px;
}
.logo{
    background-color: aliceblue;
    padding:100px 50px;
}
.images{
    border: 1px;
    border-style: solid;
}
h2{
    font-size: 20px;
    font-weight: bold;
    color: blue;
    padding: 10px 24px;
}
  

